h1{
  font-size: 36px;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding-top: 64px;
  height: 5000px;
  font-size: 16px;
}

button , a{
  font-family: "Inter", -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  cursor: pointer;  
}

.container{
  max-width: 1086.72px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.hero img{
  height: 538.8px;
  width: 538.8px;
  object-fit: cover;
}

.hero{
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
  box-sizing: border-box;
}

.hero .column1{
  flex: 0.75;
  padding-top: 40px;
  font-size: 16px;
}

.hero .column1 h1{
  font-size: 52px;
  margin-top: 10px;
}

.city-details{
  display: flex;
  margin-bottom: 0;
}

.city-details span{
  margin-right: 8px;
}

.city-details button{
  background-color: white;
  border: none;
  text-decoration: underline;
  font-size: 16px;
}

.promotional-text{
  font-size: 14px;
  line-height:  24px;
}

.promotional-text i{
  margin-right: 10px;
}

.promotional-text strong{
  font-weight: 500;
}

.column1 input{
  background-color: #EEEEEE;
  width: 400px;
  height: 56px;
  border: none;
  margin-bottom: 12px;
  font-size: 16px;
  border-radius: 6px;
  box-sizing: border-box;
  padding-left: 55px;
}

.column1 .searchbars{
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}

.column1 .searchbar1{
  position: relative;
}

.searchbar1 .location-icon{
  position: absolute;
  top: 29%;
  left: 370px;
  
}

.searchbar1 .dot-icon{
  position: absolute;
  top: 29%;
  left: 15px;
}

.column1 .searchbar2{
  position: relative;
}
.searchbar2 i{
  position: absolute;
  top: 29%;
  left: 16px;

}

.searchbars .line{
  position: absolute;
  width: 0px;
  height: 52px;
  border: 1px solid black;
  top: 25%;
  bottom: 0;
  left: 22px;
  z-index: 10;

}

.column1 a{
  padding: 14px 25px;
  border-radius: 6px;
}

.column1 .link1{
  background-color: black;
  color: white;
  margin-right: 24px;
}

.column1 .link2{
  background-color: #EEEEEE;
  color: black;
}

.suggestions{
  box-sizing: border-box;
}

.suggestions .feature-container{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
}

.suggestions span{
  font-size: 16px;
  font-weight: 500;
}

.suggestions .feature{
  display: flex;
  background-color: #F3F3F3;
  border-radius: 8px;
  padding:16px;
  box-sizing: border-box;
  font-size: 12px;
}

.suggestions .feature .column1{
  flex: 1;
}

.suggestions img{
  width: 128px;
  height: 128px;
}

.suggestions button{
  background-color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 0;
}

.suggestions .text{
height: 100px;
}

.plan-for-later{
  box-sizing: border-box;
  display: flex;
}

.plan-for-later button, a{
  font-size: 16px;
}

.plan-for-later .first-column{
  width: 702.72px;
  
  background-image: url(/images/plan.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(157, 205, 214);
  border-radius: 15px;
  padding: 36px;
  
}

.plan-for-later .contents{
 width: 330px; 
}

.date-time-container{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.date-time-container button{
  padding: 0 83px 0 50px;
  height: 44px;
  background-color: white;
  display: block;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.date-time-container .column1, .column2{
  position: relative;
}

.date-time-container span{
  position: absolute;
  top: 30px;
  left: 20px;
}

.dropdown-icon{
  position: relative;
}

.dropdown-icon i{
  position:absolute;
  top: 15px;
  right: 20px;
}

.date-time-container div{
  font-size: 14px;
  color: rgb(94, 94, 94);
}

.plan-for-later .next-button{
  background-color: black;
  color: white;
  padding: 14px 20px;
  width: 300px;
  height: 20px;
  margin-top: 12px;
  border-radius: 5px;
  box-sizing: content-box;
  margin-top: 24px;
  border: none;
}

.plan-for-later .heading{
  font-weight: 500;
}

.plan-for-later .second-column{
  margin-left: 14px;
}

.plan-for-later .benefits{
  width: 360px;
  height: 333.4px;
  padding: 12px 12px 0;
  border: 1.28px solid rgb(0, 0, 0, 0.04);
  border-radius: 10px;
}

.benefits strong{
  font-size: 20px;
  display: block;
}

.benefits .benefit-row{
  height: 66px;
  padding: 12px 0 12px 60px;
  position: relative;
  width: 270px;
  line-height: 24px;
}

.benefit-row span{
  position: absolute;
  top: 40px;
  left: 20px;
}

.benefits a{
  border-bottom: 1px dotted currentColor;
  color: rgb(75, 75, 75);
}




