header {
    font-size: 14px;
}

header a,
header button {
    font-size: inherit;
    cursor: pointer;
}

header .row1{
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 64px;
    z-index: 1000000;
}

.header-first-row{
    color: white;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    max-width: 1214.72px;
    margin: 0 auto;
}

.header-first-row-right-section{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-first-row-left-section{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header-uber-text{
    font-weight: 200;
    font-size: 24px;
    color: white;
    margin-right: 15px;
}

.header-about-button{
    background-color: black;
    color: white;
    border: none;
}

.header-about-button i{
    margin-left: 10px;
    position: absolute;
    top: 40%;
}

.header-language-button{
    background-color: black;
    border: none;
    color: white;
    position: relative;
}

.header-language-button span{
    margin-right: 4px;
}

.header-sign-up-link{
    background-color: white;
    color: black;
    font-weight: 500;
    height: 25px;
    padding: 8px 14px 3px;
    border-radius: 20px;
}

header .row2{
    padding: 0 64px;
    z-index: 1000000;
}

.header-second-row{
    color: #6B6B6B;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    max-width: 1214.72px;
    margin: 0 auto;
}

.header-second-row-right-section{
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.header-second-row-ride-text{
    color: black;
    font-size: 24px;
    font-weight: bold;
}

