.header-first-row{
    background-color: black;
    color: white;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    position:fixed;
    top: 0;
    right:0;
    left: 0;
    padding: 0 64px;
}

.header-first-row-right-section{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-first-row-left-section{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header-uber-text{
    font-weight: 200;
    font-size: 24px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}

.header-about-button{
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.header-about-button i{
    margin-left: 10px;
    position: absolute;
    top: 40%;
    
}

.header-language-button{
    font-size: 14px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
}

.header-language-button span{
    margin-right: 4px;
}


.header-sign-up-link{
    background-color: white;
    color: black;
    font-weight: 500;
    height: 25px;
    padding: 8px 14px 3px;
    border-radius: 20px;
    cursor: pointer;
}

.header-second-row{
    background-color: white;
    color: #6B6B6B;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 64px;
}

.header-second-row-right-section{
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.header-second-row-ride-text{
    color: black;
    font-size: 24px;
    font-weight: bold;
}

a{
    cursor: pointer;
}
