.header-first-row{
    background-color: black;
    color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    position:fixed;
    top: 0;
    right:0;
    left: 0;
}

.header-first-row-right-section{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

.header-first-row-left-section{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.header-uber-text{
    font-weight: 200;
    font-size: 18px;
    color: white;
    margin-right: 15px;
}

.header-about-button{
    font-size: 11px;
    background-color: black;
    color: white;
    border: none;
}

.header-language-button{
    background-color: black;
    border: none;
    color: white;
}

.header-sign-up-link{
    font-size: 11px;
    background-color: white;
    color: black;
    font-weight: 500;
    padding: 7px 9px;
    border-radius: 20px;
}

.header-second-row{
    background-color: white;
    color: #6B6B6B;
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-weight: 300;
    padding: 0 100px;
}

.header-second-row-right-section{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.header-second-row-ride-text{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
